
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Silkscreen&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Indie+Flower&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(244, 61, 61, 0.95);
    padding: 14px 4px;
}
#navigation ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 70px;
    margin-left: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
}

#logo img {
    height: 40px;
    margin-right: 5px;
    filter: invert(1);
}

#navigation li{
    list-style: none;
    padding: 2px 15px;
}

#navigation li a{
    color: azure;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 20px;
    cursor: pointer;
}

#navigation li a:hover{
    color: black;
}

#introSection::before {
    position: absolute;
    top: 50px;
    content: "";
    background: center/cover no-repeat url(../static/dance_bg.jpg);
    height: 45%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
#introSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: rgb(13, 5, 251);
    height: 45%;
    padding: 90px;
}

#introSection div.small {
    font-size: 2rem;
    padding: 5px;
    font-family: 'Gluten', cursive;
    font-weight: bold;
}

#missionSection {
    font-family: 'Pacifico', cursive;
    height: 30%;
    width: 100%;
    margin-bottom: 10px;
}

#missionSection h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 20px;
    font-size: 35px
}

#firstCard {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    justify-content: center;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 24%;
    height: 170px;
    margin: 5px 20px;
    padding: 5px;
}

.card h4{
    text-align: center;
    margin-top: 16px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 120px;
    padding: 0 14px;
}

.card-img img{
    height: inherit;
}

#sponcerSection {
    font-family: 'Pacifico', cursive;
    height: 35%;
    width: 100%;
    margin: auto;
    background-color: rgb(232, 175, 175);
    padding-bottom: 15px;
}

#sponcerSection h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 20px;
    font-size: 35px
}

#sponcers{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    justify-content: center;
}
.spImage {
    height: 120px;
    padding: 10px 20px;
}

#footer {
    display: flex;
    height: 15%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}