doctype html
html
  head
    title Sanu Dance Academy
    block scripts
    block style 
  body
    nav#navigation
        ul
            div#logo 
                img(src="../static/logo.png")
                | SDA 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Service ]
            li #[a(href="/") Class Info ]
            li #[a(href="/contact") Contact Us ]
    block content
    block foot
      #footer 
        | Copyright &#9426; 2023 sanudanceacademy.com | All right reserved