extends base.pug

block scripts
    include ../static/script.js

block style 
    style
        include ../static/style.css

block content 
    section#introSection 
        div Welcome to Sanu's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h1 Our Mission 
        div#firstCard
            div.card
                h4 Dance Perfection
                div.card-box 
                    div.card-img
                        img(src="../static/pic1.png")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h4 Dance The Way You Like
                div.card-box 
                    div.card-img
                        img(src="../static/pic2.png")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h4 Expert Training
                div.card-box 
                    div.card-img
                        img(src="../static/pic3.png")
                    div.card-content
                        p This is the best dance academy of the universe
            
    section#sponcerSection 
        h1 Our Sponcers
        div#sponcers
            img(src="../static/sponcer1.png" alt="Sponcer Image" class="spImage")
            img(src="../static/sponcer2.png" alt="Sponcer Image" class="spImage")
            img(src="../static/sponcer3.png" alt="Sponcer Image" class="spImage")
            img(src="../static/sponcer4.png" alt="Sponcer Image" class="spImage")
            img(src="../static/sponcer5.png" alt="Sponcer Image" class="spImage")
