doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navigation
        ul 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Service ]
            li #[a(href="/") Class Info ]
            li #[a(href="/") Contact Us ]
    
    section#introSection 
        | Section for Picture

    section#sponcerSection 
        | Section for Sponcer

    footer#footer 
        | Our footer here#[a(href="/") ]

    script
      include ../static/script.js