<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li>Home </li>
            <li>About </li>
            <li>Contact Us </li>
        </ul>
    </nav>
    <h1>#{header}</h1>
    <p>
        | <!-- This is a paragraph rendering from index.pug using 'content' variable -->
        | #{content}
    </p>
</body>

</html>